@import "assets/styles/variables";

.category {
    margin: 10px 0 10px 0;
    padding-left: 12px;
    padding-right: 12px;
    Button.category-button{
        height: 150px;
        width: 100%;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}