.animated-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 31px;
    margin: 16px;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
