@import "assets/styles/variables";

.product-list {
  .product {
    border: 1px solid $primary-color;
    margin-bottom: 10px;

    i.anticon-lock{
      color: red;
    }

    i.anticon-unlock{
      color: $primary-color;
    }

  }

  .filters {
    border: 1px solid gray;
    margin-bottom: 10px;

    .filter{
      margin: 16px 0;
      padding: 0 8px;
      text-align: center;

      .tree-select{
        width: 100%;
        overflow: auto;
      }
    }
  }
}