@import "assets/styles/variables";

.categories {
    .category-col{
        margin: 10px 0 10px 0;
    }
    Button.category-button{
        height: 150px;
        width: 100%;
        background-color: $primary-color;
        border-color: $primary-color;
    }
}