body {
  margin: 0;
  padding: 0;

  .breadcrumb{
    margin: 16px 0
  }
  .page-content{
    padding: 24px;
    background: white;
    min-height: 360px;
  }

  .ant-layout-content{
    margin: 0 16px;
  }
}